/* Downrush CSS */

body {
    background-color: #222222;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 115%;
}

#content {
    width: 452px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#intro, #game-over {
    position: absolute;
    margin: 1.5em;
    padding: 1.5em 1em;
    width: 372px;
    top: 70px;
    z-index: 2;
    background-color: yellow;
    text-align: center;
}

#intro h1, #game-over h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0.7em;
}

#intro p, #game-over p {
    margin: 1em 0;
    text-align: left;
}

#intro button, #game-over button {
    font-size: 20px;
    font-weight: bold;
}

td {
    border: 2px solid white;
    background-color: #C2BEB3;
    width: 48px;
    height: 48px;
}

.piece {
    font-size: 35px;
    position: absolute;
    top: -50px;
    left: 0px;
    width: 48px;
    height: 48px;
    border: 2px solid rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 48px;
    background-color: yellow;
}

.used {
    background-color: red;
}

#score-text {
    font-size: 40px;
    margin-top: 0.5em;
    color: white;
    font-weight: bold;
}

#buttons {
    margin-top: -20px;
    text-align: center;
    float: right;
}

#buttons button {
    font-size: 55px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 10px;
    line-height: 0;
}

#buttons button:focus {
    outline: 0;
}

#buttons button:first-child {
    margin-right: 15px;
}
