/* Downrush CSS */

body {
    background-color: #222222;
    font-family: Helvetica, Arial, sans-serif;
}

#content {
    width: 460px;
    margin: 0 auto;
    position: relative;
}

td {
    border: 2px solid white;
    background-color: #C2BEB3;
    width: 48px;
    height: 48px;
}

.piece {
    font-size: 35px;
    position: absolute;
    top: -50px;
    left: 0px;
    width: 48px;
    height: 48px;
    border: 2px solid rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 48px;
    background-color: yellow;
}

.word-piece {
    background-color: red;
}

#score-text {
    font-size: 30px;
    margin-top: 1em;
    text-align: center;
    color: white;
    font-weight: bold;
}