<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
 <title>{{ page.title }}</title>
 <link rel="openid.server" href="http://www.myopenid.com/server">
 <link rel="openid.delegate" href="http://benhoyt.myopenid.com">
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 <meta name='description' content="Ben Hoyt is a software engineer at Oyster.com. He and his wife and two kids live in New York City.">
 <meta name='keywords' content="Ben Hoyt, Benjamin Hoyt, Ben, Hoyt, software, engineer, Oyster.com, Brush Technology, Ben Hoyt's CV, Ben Hoyt's resume">
 <meta name='author' content='Ben Hoyt'>
 <link rel="stylesheet" href="/styles/main.css" type="text/css" media="all">
 <link rel="stylesheet" href="/styles/print.css" type="text/css" media="print">
</head>

<body>

<div id="container">

<div id="sidebar">
 {% if page.url == '/' %}
 <img title="You're at the home page" src="/images/unicycling_glory.jpg" alt="Unicycling glory" width="120" height="173">
 {% else %}
 <a class="logo" href="/" title="Go to the home page"><img src="/images/unicycling_glory.jpg" alt="Unicycling glory" width="120" height="173"></a>
 {% endif %}
 <p>
  {% if page.url == '/' %}<b>Home</b>{% else %}<a href='/' title='Go to the home page'>Home</a>{% endif %}<br>
  {% if page.url == '/cv' %}<b>CV / Resume</b>{% else %}<a href='/cv' title='Go to my CV / Resume'>CV / Resume</a>{% endif %}<br>
  {% if page.url == '/writings/' %}<b>Writings</b>{% else %}<a href='/writings/' title="Stuff I've written">Writings</a>{% endif %}
 </p>

 <p><b>Visit our blog:</b><br>
  <a href="http://aliensintheapple.com/">Aliens in the Apple</a>
 </p>

 <p class='contact' id='contact' style='margin-top: 1.7em;'><b>Contact me:</b><br>
  {% if page.title %}
  <a href='http://brush.co.nz/email?d=gmail.com&amp;e=benhoyt' title='Email me' onmouseover='e="benhoyt"+String.fromCharCode(64)+"gmail.com"; this.href="mai"+"lto:"+e; this.firstChild.nodeValue=e;'>benh...@gmail.com</a>
  {% else %}
  <a href='mailto:benhoyt@gmail.com' title='Email me' >benhoyt@gmail.com</a>
  {% endif %}
 </p>
 <p class='contact'>+1 347 314 3624</p>

</div>

<div id="content">
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
{{ content }}
</div>

</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-883290-5";
if (typeof(urchinTracker) == 'function') urchinTracker();
</script>

</body>
</html>
